<%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, collection: Ingredient.all %>
    <%= f.input :description%>
<br>
  <%= f.button :submit, class: "custom-button mb-2"%>
  <br>
  <br>
  <p><%= link_to "Go back", cocktail_path(@cocktail), class: "custom-button" %></p>
  <br>
  </div>
</div>
<% end %>
